// Colors adjusted in: node_modules/bootstrap/scss/_variables.scss

// Base colors
$primary:       		#11536D;
$secondary:     		#28ADD8;
$success:       		#F95555;
$info:          		#74C9E5;
$warning:       		#EFBB3A;
$danger:      		  	#F95555;

$transparent-blue:		#74C9E5;
$transparent-red:		#FC7474;
$transparent-mix:		#734A5C;